# =========================
# Data (Kaggle external)
# =========================
data/*
!data/README.md

# =========================
# Results
# =========================
results/models/
results/**/*.h5
results/**/*.pt
results/**/*.pth
results/**/*.ckpt
results/**/*.keras

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.tmp

# =========================
# Jupyter / Kaggle
# =========================
.ipynb_checkpoints/
*.ipynb_save

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

