# adat és modellek kizárása
data/*
!data/.gitkeep

results/checkpoints/
results/*.h5
results/*.pt
results/*.pth
results/*.ckpt
results/*.keras
results/*
!results/.gitkeep

# cache és ideiglenes fájlok
__pycache__/
*.pyc
*.pyo
*.tmp

# Jupyter / Colab
.ipynb_checkpoints/
*.ipynb_save

# rendszer fájlok
.DS_Store
Thumbs.db
